/BuildFiles
/AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1
/AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest
/AssemblyFiles/Windows/VisualStudio_10/ipch
/AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1.suo
/AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1.sdf
.vs
